{% extends 'customer/index.html' %}
{% load static %}
{% block body %}

    <!-- hero-login-section -->  
  <section>
    {% if messages %}
    <ul>
      {% for message in messages  %}
        <li>{{message}}</li>
      {% endfor %}
    </ul>
      
    {% endif %}
    <div class="login-section">
      <div class="login-left">
        <p>Welcome Back to</p>
        <h1>Sudeeksha Pharmacy </h1>
        <h4>Please Login to continue</h4>
        <img src="{% static 'images/login-left.jpg' %}" alt="">
      </div>
      <hr class="secondright">
      <div class="login-right">
        <h1 id="Login" class="login">Login to Your Account</h1>
        <div class="forms">
          <form method="post" >
            {% csrf_token %}
        
          <label for="">Email</label>
          <div class="form-input">
            <i class="bx bx-envelope"></i>
            <input type="email" placeholder="Enter Your Email" id="email" name="email"/>
          </div>
          <label for="">Password</label>
          <div class="form-input">
            <i class="bx bx-lock"></i>
            <input
              type="password"
              placeholder="Enter Your Password"
              id="input"
              name="input"
            />
            <button class="icon" disabled>
              <i
                id="eye"
                onclick="showIcon()"
                class="fa-solid fa-eye-slash icon-slash"
              ></i>
            </button>
          </div>
          <label for="">Role</label>
          <div class="form-input">
            <i class='bx bx-user-plus'></i>
            <input type="text" placeholder="admin/customer" id="phone" />
          </div>
          <div class="form-input form-checkbox">
            <input type="checkbox" />
            <p>Remember Me</p>
            <span>Forgot Password</span>
          </div>
          <div class="form-button">
            <button onclick="displayMessage()" type="submit">Log In</button>
          </div>
        </form>
         <p class="account"> Dont have an account? <a href="/signup">Create an account <i class="fa-solid fa-icon fa-arrow-up-right-from-square"></i></a></p>
        </div>
      </div>
    </div>
  </section>
    {% endblock %}