* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbar-top-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px 0;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo img {
  height: 50px;
  width: 140px;
  object-fit: cover;
  cursor: pointer;
}

.nav-logo h1 {
  color: #28a475;
  font-size: 2rem;
}

.nav-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-head p {
  color: #555;
  font-size: 15px;
  cursor: pointer;
}

.box-icons {
  font-size: 25px;
  cursor: pointer;
}

.nav-head h4 {
  color: black;
  font-size: 17px;
  cursor: pointer;
}

.bx-cart-alt {
  font-size: 25px;
  color: rgb(26, 25, 25);
  cursor: pointer;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-cart .button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 16px;
  background: transparent;
  border: 1px solid #165d59;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #165d59;
  cursor: pointer;
}

.bx-user-circle {
  font-size: 30px;
  cursor: pointer;
}

.bx-search-alt-2 {
  font-size: 25px;
  cursor: pointer;
  color: #555;
}

.horizontal {
  opacity: 0.4;
}

.navbar-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin: 10px;
}

.navbar-bottom-section li {
  list-style: none;
}

.navbar-bottom-section li a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

.navbar-bottom-section li a .span {
  border-bottom: 2px solid #165d59;
  margin: 3px;
}

.span-2 {
  color: black;
}

.span-2:hover {
  color: #165d59;
  border-bottom: 2px solid #165d59;
}

.color {
  color: #165d59;
}

.navbar-search {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 8%;
  border: 1px solid gray;
  border-radius: 10px;
  background: #f7f7f7;
  justify-content: start;
  gap: 20px;
}

.navbar-search input {
  border: none;
  outline: none;
  background: transparent;
}

::placeholder {
  font-size: 17px;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  background: #6a7ba2;
  height: 250px;
  gap: 500px;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h1 {
  color: #fff;
}

.input-section {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
  background: white;
  margin: 15px 0;
  padding: 15px 200px;
  border-radius: 10px;
}

.wrapper-div {
  margin: 20px 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.card .img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  100% {
    opacity: 1;
    transition: all 0.4s ease;
  }
}

#Login {
  animation: fadein 2s ease-in;
}

#left,
#right {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background: #555;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}

#left {
  left: 100px;
}

#right {
  right: 100px;
}

.products-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.products {
  width: 189px;
  height: 340px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px;
}

.flex p {
  color: #28a475;
  font-weight: 600;
  cursor: pointer;
}

.products img {
  height: 150px;
  width: 150px;
}

.product-price {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 40%;
}

.product-price p:first-child {
  font-size: 20px;
  font-weight: 600;
}

.product-price p:nth-child(2) {
  font-size: 10px;
  text-decoration: line-through;
}

.product-price p:nth-child(3) {
  font-size: 13px;
  color: green;
}

.products button {
  padding: 10px 15px;
  background: #28a475;
  color: white;
  border: 1px solid #28a475;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 14px;
}

.product-card p {
  text-align: center;
  font-weight: 600;
  color: #555;
}

.product-left {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.text-center {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, red, white);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  margin: 10px 0;
}

.text-center span {
  color: purple;
}

.services-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.services {
  width: 380px;
  height: 300px;
  box-shadow: 0px 5px 5px 5px silver;
  border-radius: 5px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.services p {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  color: white;
  background: #000;
  font-size: 35px;
}

.services span {
  color: #555;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
}

.services button {
  padding: 10px 16px;
  background: black;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 10px;
}

.services button:hover {
  color: black;
  background: transparent;
  transition: all 0.3s ease;
}

.login-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.login-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 5px 5px 5px silver;
  margin: 10px;
  padding: 50px;
  border-radius: 5px;
  width: 380px;
}

.login-right:hover {
  border-top-right-radius: 100px;
  transition: all 0.3s ease-in;
}

.form-input {
  display: flex;
  align-items: center;
  gap: 50px;
  border: 1.5px solid #2e8b57;
  border-radius: 5px;
  padding: 10px 13px;
}

.form-input button:disabled {
  background: transparent;
  border: none;
  outline: none;
}

.forms {
  margin: 10px;
}

.forms label {
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 10px 0;
  font-weight: 600;
}

.form-input i {
  font-size: 25px;
  font-weight: 200;
  color: #000;
  cursor: pointer;
}

.form-input {
  margin: 10px 0;
}

.form-input input {
  border: none;
  outline: none;
}

#eye {
  color: #555;
  font-size: 1rem;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.form-button button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #2e8b57;
  background: #2e8b57;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.form-checkbox {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-checkbox p {
  font-size: 1.3rem;
}

.form-checkbox span {
  color: blue;
  padding: 0 10px;
  cursor: pointer;
}

.login-left {
  text-align: center;
}

.login-left h1 {
  font-size: 4rem;
  color: #28a475;
}

.login-left p {
  font-size: 2rem;
  font-weight: 300;
  color: #555;
}

.login-left img {
  height: 300px;
  width: 500px;
  border-radius: 20px;
}

.login-left h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: red;
}

.forms .account {
  color: #555;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.forms p a {
  text-decoration: none;
  color: black;
}

.forms p a:hover {
  color: rgb(45, 45, 218);
}

.fa-icon {
  color: rgb(45, 45, 218);
}

.sell-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-text p {
  font-weight: 100;
  color: #555;
  font-size: 9rem;
}

.features-section h5 {
  color: #555;
  font-size: 3rem;
  font-weight: 300;
}

.features li {
  list-style: none;
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 15px;
}

.sell-text p span {
  color: #2e8b57;
}

.sell-text h6 {
  font-weight: 200;
  font-size: 1.5rem;
  color: red;
}

.features li i {
  color: #28a475;
}

.form-check {
  border: none;
  outline: none;
  display: flex;
  gap: 20px;
}

.form-check p a {
  color: orange;
}

.create-section {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-main {
  width: fit-content;
}

.form-control {
  padding: 10px 100px;
}

.fa-triangle-exclamation {
  color: rgb(204, 56, 56);
}

.text-left {
  text-align: center;
}

.text-left p {
  font-size: 2rem;
  font-weight: 600;
}

.text-left h5 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8;
}

.create-button button {
  padding: 10px 20px;
  background: #28a475;
  border: 1px solid #28a475;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.form-flex {
  display: flex;
  gap: 1rem;
  /* Adjust spacing between fieldsets as needed */
}

.form-fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.form-fieldset legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input {
  margin-bottom: 1rem;
}

.form-input.form-control input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-button {
  text-align: center;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  background: #f7f7f7;
  border: 1px solid silver;
  border-radius: 20px;
}

.search-section input {
  outline: none;
  padding: 20px;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
}

.search-section input::placeholder {
  font-size: 1.2rem;
  color: #28a475;
}

.search-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-section {
  border-bottom: 1px solid gray;
}

.payment-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.payment-buttons img {
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.continue {
  font-size: 1.8rem;
}

.about-us {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.about-left {
  flex-basis: 40%;
  margin: 20px 0;
}

.about-left p {
  font-size: 1.5rem;
  font-weight: 200;
  color: slategray;
  margin: 10px 0;
}

.about-left h1 {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.5;
}

.about-left span {
  font-size: 1.4rem;
  font-weight: 200;
  padding: 20px 0;
}

.about-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}

.about-buttons {
  border-bottom: 1px solid gray;
  width: 60%;
}

.about-buttons button:first-child {
  padding: 15px 25px;
  background: #28a475;
  border: 1px solid #28a475;
  cursor: pointer;
  outline: none;
  color: white;
  border-radius: 5px;
}

.about-buttons button:last-child {
  padding: 15px 25px;
  background: transparent;
  border: 1px solid #28a475;
  cursor: pointer;
  outline: none;
  color: black;
  border-radius: 5px;
}

.about-buttons button:last-child:hover {
  background: #28a475;
  color: white;
  transition: all 0.3s ease-in-out;
}

.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
}

.social-icons i {
  font-size: 25px;
  cursor: pointer;
}

.socialtext {
  color: #28a475;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 0;
}

.fb {
  color: #1877f2;
}

.in {
  color: #e1306c;
}

.li {
  color: #0a66c2;
}

.choose-left img {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.about-right img {
  height: 450px;
  object-fit: cover;
  width: 400px;
  border-radius: 10px;
}

.choose-right {
  flex-basis: 50%;
}

.choose-right p {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 15px 0;
  color: #28a475;
}

.choose-right h1 {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 15px 0;
}

.choose-right span {
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.choose-flex {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.choose {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}

.choose-text span {
  font-size: 10px;
  font-weight: 300;
  color: #555;
}

.choose-text h3 {
  color: #28a475;
  font-size: 1.3rem;
}

.choose-main {
  display: flex;
  gap: 50px;
  align-items: center;
}

.choose i {
  height: 55px;
  width: 70px;
  box-shadow: 0px 5px 5px 5px silver;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  border: 1px solid #28a475;
}

.seller-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.seller p {
  font-size: 4rem;
  font-weight: 200;
  color: #2e8b57;
  margin: 20px 0;
}

.seller {
  flex-basis: 40%;
  text-align: center;
}

.seller h6 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px 0;
}

.seller button {
  padding: 10px 20px;
  background: #28a475;
  border: 1px solid #28a475;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.tech-stacks {
  overflow: hidden;
  padding: 60px 0;
  background-color: white;
  white-space: nowrap;
}

.tech-items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 20s infinite linear;
}

.tech-items img {
  height: 80px;
  cursor: pointer;
  margin: 25px;
  object-fit: contain;
}
.admin-flex {
  height: 180px;
  width: 320px;
  /* box-shadow: 0px 5px 5px 5px white; */
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 35px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-transform: uppercase;
}
.admin-flex2 {
  background: linear-gradient(135deg, #43cea2, #185a9d);
}
.admin-flex3 {
  background: linear-gradient(135deg, #ff6a00, #ee0979);
}
.font-icon i {
  font-size: 2.5rem;
  margin: 0;
}
.main-admin-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin-containers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.admin-containers span {
  padding: 20px 0;
}
.admin-containers p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 10px 0;
}
.admin-containers h1 {
  font-size: 2rem;
  font-weight: 700;
}
.admin-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.admin-column p:last-child {
  text-align: end;
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
.admin-text {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 300;
}
.admin-right {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 10px;
}
.admin-secondary {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.admin-secondary-left {
  height: 300px;
  width: 600px;
  border-radius: 20px;

  background: rgb(37, 35, 35);
}
.admin-secondary-left p {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  margin: 20px;
}
.admin-secondary-right {
  height: 300px;
  width: 365px;
  background: white;
  border-radius: 20px;
  background: rgb(37, 35, 35);
}
.admin-secondary-right p {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  margin: 20px;
}
/* .admin-flex i{
  position: absolute;
  top: -10px;
  left:20px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
} */
@keyframes fade {
  from {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  to {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

#success {
  font-size: 1.5rem;
  font-weight: 500;
  animation: fade 2s ease-in-out;
  margin: 10px 0;
}

.copyright {
  border-top: 1px solid gray;
  text-align: center;
  padding: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.footer-section {
  background: #000;
  color: #fff;
}

.footer {
  margin: 10px 0;
  padding: 30px;
}

.footer h1 {
  color: #28a475;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 10px 0;
}

.footer p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.4;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  padding: 30px 0;
}

.footerbasis {
  flex-basis: 30%;
}

.footer h2 {
  font-size: 1.5rem;
}

.footer ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
}

.footernews {
  flex-basis: 30%;
}

.footernews .footer-text {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 10px 0;
}

.form-input textarea {
  border: none;
  outline: none;
}

.news-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  border: 1px solid #28a475;
}

.news-search input {
  padding: 10px 15px;
  border: none;
  outline: none;
}

.news-search p {
  padding: 10px 15px;
  background: #28a475;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.links a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
}

.links a:hover {
  color: white;
  transition: all 0.4s ease-in;
}

.links:visited {
  color: blue;
  transition: all 0.5s ease-in;
}
.links:active {
  color: orange;
  transition: all 0.6s ease-in-out;
}
.admin-left h4 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 0;
  animation: fadein 2s ease-in;
}
@keyframes fadein {
  from {
    opacity: 0;
    transition: all 0.3s ease-in;
  }
  to {
    opacity: 1;
    transition: all 0.3s ease-in;
  }
}
.admin-section {
  display: flex;
  justify-content: center;
  background: #000;
  gap: 30px;
}
.admin-left {
  flex: 1.5;
  background: #000;
  border-radius: 10px;
  margin: 5px;
}
.admin-left p {
  text-align: start;
  color: white;
  font-size: 2.1rem;
  font-weight: 500;
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid gray;
  animation: fadein 2s ease-in;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}
.admin-right {
  flex: 5;
  height: 500px;
  margin: 10px 0;
}

#account {
  text-align: start;
}
#signout {
  transform: rotate(-180deg);
}
.links-tag {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}
.links-tag:first-child {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  color: black;
  margin: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  font-size: 1.2rem;
}
.links-tag .bx-icon {
  color: white;
  font-size: 2rem;
}
.links-tag i:first-child {
  font-size: 2rem;
}
.admin-icon {
  color: white;
}
.admin-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* Adjust animation duration if needed */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* media-queries */
@media screen and (max-width: 840px) {
  .login-left {
    display: none;
  }
}
.edit h3 {
  margin-top: 50px;
  margin-left: -80%;
  color: green;
}
.admin-sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-sales button {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
  color: #7f6a6a;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}
.chart-container {
  width: 80%;
  max-width: 600px;
  color: white;
}
.search-medicine{
  color: #555;
}
#user-text{
  font-size: 1.2rem;
}